.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 10s ease infinite;
}
.rubik-bubbles-regular {
  font-family: "Rubik Bubbles", system-ui;
  font-weight: 300;
  font-style: normal;
  font-size: 60px;
}
.six-caps-regular {
  font-family: "Six Caps", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}
.sancreek-regular {
  font-family: "Sancreek", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}
.texter {
  background-color: #a89bff;
}
.dexter {
  background-color: #5b537e;
}
